doctype html
html(lang='en')
  head
    title Landing Page
  body
    h1 The Future of Something Hip!
    p Lorem ipsum dolor amet roof party succulents put a bird on it blue bottle meditation woke. Iceland austin unicorn dreamcatcher. Keffiyeh pork belly cronut offal literally slow-carb sriracha microdosing XOXO iPhone truffaut. Cornhole beard activated charcoal whatever, chambray ethical meh readymade before they sold out vaporware iceland. Retro enamel pin celiac godard fam, keffiyeh vinyl salvia.
    p Helvetica tumeric migas ramps humblebrag thundercats coloring book ennui. Master cleanse williamsburg seitan iPhone, tousled bespoke selvage celiac fixie selfies synth kickstarter kale chips +1. Locavore franzen selfies chia lyft crucifix lumbersexual glossier pinterest tumblr palo santo gochujang ramps jianbing. Distillery biodiesel retro truffaut letterpress literally. IPhone church-key selfies cardigan, DIY af lomo. Yuccie ethical narwhal, distillery photo booth offal sartorial aesthetic echo park tilde.
    p Hot chicken literally gluten-free neutra mustache. Ugh palo santo tousled keytar. Meditation fanny pack wolf actually. Meditation actually literally neutra post-ironic kitsch single-origin coffee gluten-free tilde sartorial. Scenester irony jean shorts raw denim kickstarter truffaut. 90's dreamcatcher DIY twee gastropub literally sriracha.
    
